coverage

/dist
/temp
.next/
/tools/ci/chart
/DelSyncFiles
package.json
**/page-data.json

nx.json
nxgraph.json
workspace.json
migrations.json
**/tsconfig.*.json
**/generated.ts
graphql-typings.ts

README.md
/.nx/cache
/.nx/workspace-data